# SAE BDD

## PHASE 2

### Connection à la base de donnée;

In [2]:
%reload_ext sql
print("c'est fait")

c'est fait

In [3]:
%sql postgresql://laetitia:lidier2004@localhost:5433/laetitia
print("connecter")

connecter

### Suppression des tables existantes;

In [4]:
%%sql
drop table passenger;
drop table ticket;

 * postgresql://laetitia:***@localhost:5433/laetitia
Done.
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

### Création des tables avec un script;

In [5]:
%%sql
CREATE TABLE passenger(
    passengerId integer primary key,
    name varchar(100),
    sex varchar(10),
    age varchar(10),
    survived integer,
    SibSp integer,
    Parch integer);



CREATE TABLE ticket(
    passengerId integer primary key,
    ticket varchar(20),
    Pclass integer,
    Fare float,
    Cabin varchar(20),
    Embarked varchar(1));

 * postgresql://laetitia:***@localhost:5433/laetitia
Done.
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

### Alimentation des tables à l'aide du programme parsing qui mémorise les données dans des variables;

In [6]:
def parse_line(ligne, sep, num_colonne, ty):   
    li = ligne.split(sep)
    if ty == "int":
        return (int(li[num_colonne]))
    elif ty == "float":
        return (float(li[num_colonne]))
    elif ty == "str":
        return (li[num_colonne])
    elif ty == "bool":
        return (bool(li[num_colonne]))
    else:
        print("Erreur type non reconnu.")
    
    
    
    
    
f_input = open( 'titanic_train.csv' , 'r')
passengerId = []
Survived = []
Pclass = []
name = []
Sex = []
Age = []
SibSp = []
Parch = []
ticket = []
Fare = []
Cabin = []
Embarked = []
f_input.readline()
li = f_input.readline()
while( '' != li ) :
    passengerId.append(parse_line(li, ',', 0, "int"))
    Survived.append(parse_line(li, ',', 1, "int"))
    Pclass.append(parse_line(li, ',', 2, "int"))
    name.append(parse_line(li, ',', 3, "str"))
    Sex.append(parse_line(li, ',', 5, "str"))
    Age.append(parse_line(li, ',', 6, "str"))
    SibSp.append(parse_line(li, ',', 7, "int"))
    Parch.append(parse_line(li, ',', 8, "int"))
    ticket.append(parse_line(li, ',', 9, "str"))
    Fare.append(parse_line(li, ',', 10, "float"))
    Cabin.append(parse_line(li, ',', 11, "str"))
    Embarked.append(parse_line(li, ',', 12, "str"))
    li = f_input.readline() 
f_input.close()

f_output = open('PASSENGER.csv', 'w')
i = 0
while i < len(passengerId) :
    f_output.write (str(passengerId[i]) + ',' + name[i] + ',' + Sex[i] + ',' + Age[i] + ',' + str(Survived[i])+ ',' + str(SibSp[i]) + ',' + str(Parch[i]) + '\n')
    i = i + 1
f_output.close()

f_output = open('TICKET.csv', 'w')
i = 0
while i < len(passengerId):
    f_output.write( str(passengerId[i])+ ',' +ticket[i] + ',' + str(Pclass[i]) + ',' + str(Fare[i]) + ',' + Cabin[i] + ',' + str(Embarked[i]))
    i = i + 1
f_output.close()

In [7]:
%%sql
\copy ticket from '/Users/laetitia/Documents/saeBDDN1/saebdd/TICKET.csv' delimiter ',' NULL AS '';

 * postgresql://laetitia:***@localhost:5433/laetitia
0 rows affected.

[]

In [8]:
%%sql
\copy passenger from '/Users/laetitia/Documents/saeBDDN1/saebdd/PASSENGER.csv' delimiter ',' NULL AS '';

 * postgresql://laetitia:***@localhost:5433/laetitia
0 rows affected.

[]

### Commande pour afficher les tables;

In [9]:
result1= %sql select * from ticket
result2= %sql select * from passenger

 * postgresql://laetitia:***@localhost:5433/laetitia
891 rows affected.
 * postgresql://laetitia:***@localhost:5433/laetitia
891 rows affected.

In [10]:
dataframe = result1.DataFrame()
dataframe

     passengerid            ticket  pclass     fare cabin embarked
0              1         A/5 21171       3   7.2500  None        S
1              2          PC 17599       1  71.2833   C85        C
2              3  STON/O2. 3101282       3   7.9250  None        S
3              4            113803       1  53.1000  C123        S
4              5            373450       3   8.0500  None        S
..           ...               ...     ...      ...   ...      ...
886          887            211536       2  13.0000  None        S
887          888            112053       1  30.0000   B42        S
888          889        W./C. 6607       3  23.4500  None        S
889          890            111369       1  30.0000  C148        C
890          891            370376       3   7.7500  None        Q

[891 rows x 6 columns]

In [11]:
dataframe = result2.DataFrame()
dataframe

     passengerid        name     sex   age  survived  sibsp  parch
0              1     "Braund    male    22         0      1      0
1              2    "Cumings  female    38         1      1      0
2              3  "Heikkinen  female    26         1      0      0
3              4   "Futrelle  female    35         1      1      0
4              5      "Allen    male    35         0      0      0
..           ...         ...     ...   ...       ...    ...    ...
886          887   "Montvila    male    27         0      0      0
887          888     "Graham  female    19         1      0      0
888          889   "Johnston  female  None         0      1      2
889          890       "Behr    male    26         1      0      0
890          891     "Dooley    male    32         0      0      0

[891 rows x 7 columns]

In [12]:
print (result2[887])

(888, '"Graham', 'female', '19', 1, 0, 0)

## PHASE 3

### Requêtes SQL

- Combien de classes de passagers différentes y avait-il à bord du Titanic ?

In [13]:
%sql select count (distinct pclass) as nombre_de_classe from ticket;

 * postgresql://laetitia:***@localhost:5433/laetitia
1 rows affected.

[(3,)]

- Combien de passagers y avait-il dans chaque classe?

In [16]:
%sql select distinct pclass, count(pclass) from ticket group by pclass order by(pclass)asc;

 * postgresql://laetitia:***@localhost:5433/laetitia
3 rows affected.

[(1, 216), (2, 184), (3, 491)]

 - Combien de femmes et d'hommes y avait-il dans chaque classe?

In [17]:
%sql select sex,pclass, count(sex) from passenger natural join ticket group by sex,pclass order by(pclass) asc;

 * postgresql://laetitia:***@localhost:5433/laetitia
6 rows affected.

[('female', 1, 94),
 ('male', 1, 122),
 ('female', 2, 76),
 ('male', 2, 108),
 ('female', 3, 144),
 ('male', 3, 347)]

- Comptez le nombre et le pourcentage de survivants et de passagers
morts.

In [18]:
%sql select survived, count(*) *100.0/(select count(*) from passenger)from passenger group by survived;

 * postgresql://laetitia:***@localhost:5433/laetitia
2 rows affected.

[(0, Decimal('61.6161616161616162')), (1, Decimal('38.3838383838383838'))]

- Visualiser la répartition des passagers survivants et morts par classe

In [19]:
%sql select pclass,survived, count(pclass) from ticket natural join passenger group by pclass,survived order by(pclass)asc;

 * postgresql://laetitia:***@localhost:5433/laetitia
6 rows affected.

[(1, 0, 80), (1, 1, 136), (2, 0, 97), (2, 1, 87), (3, 0, 372), (3, 1, 119)]

- Visualiser la répartition des passagers survivants et des passagers
décédés selon le sexe

In [20]:
%sql select survived,sex, count(sex) from passenger group by survived,sex;

 * postgresql://laetitia:***@localhost:5433/laetitia
4 rows affected.

[(0, 'male', 468), (1, 'male', 109), (1, 'female', 233), (0, 'female', 81)]